
#.DS_Store
ios/build/*
ios/pce.xcodeproj/*

# Exclude the build directory
build/*
 
# Exclude temp nibs and swap files
*~.nib
*.swp
 
# Exclude OS X folder attributes
.DS_Store
 
# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

ios/pce.xcodeproj/station3.mode1v3

ios/pce.xcodeproj/station3.mode1v3

ios/pce.xcodeproj/station3.pbxuser
